@import "tailwindcss";
@source "./styles/auth.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .debug-border {
    @apply border-4 border-red-500;
  }
}